[package]
name = "mdrc-pacbot-util"
version = "0.1.0"
edition = "2021"
documentation = "https://rit-mdrc.github.io/mdrc-pacbot-util/"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.75"
bincode = "1.3.3"
eframe = "0.22.0"
egui = "0.22.0"
num_enum = "0.7.0"
rand = "0.8.5"
rapier2d = { version = "0.17.2", features = ["serde-serialize"] }
serde = { version = "1.0.188", features = ["derive"] }
time = { version = "0.3.29" , features = ["local-offset", "formatting", "macros"]}
