name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - run: rustup toolchain install stable --profile minimal --no-self-update

      - uses: Swatinem/rust-cache@v2
        with:
          save-if: ${{ github.ref == 'refs/heads/main' }}
          workspaces: |
            .
            pico_pb

      - name: Install WASM target
        run: rustup target add wasm32-unknown-unknown

      - name: Install pico target
        run: rustup target add thumbv6m-none-eabi

      - name: Install packages
        run: sudo apt-get install g++ pkg-config libx11-dev libasound2-dev libudev-dev libxkbcommon-x11-0

      - name: Build gui_pb
        working-directory: gui_pb
        run: cargo build --locked

      - name: Build gui_pb --target wasm32-unknown-unknown
        working-directory: gui_pb
        run: cargo build --locked --target wasm32-unknown-unknown

      - name: Build pico_pb
        working-directory: pico_pb
        run: cargo build --locked

      - name: Build server_pb
        working-directory: server_pb
        run: cargo build --locked

      - name: Build sim_pb
        working-directory: sim_pb
        run: cargo build --locked

      - name: Run tests
        run: cargo test
