name: Build and Deploy Documentation

on:
  push:
    branches: ["main"]
    paths:
      - 'book/'
  pull_request:
    branches: ["main"]
    paths:
      - 'book/'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install packages
        run: sudo apt-get install g++ pkg-config libx11-dev libasound2-dev libudev-dev libxkbcommon-x11-0

      - name: Setup mdBook
        uses: peaceiris/actions-mdbook@v1
        with:
          mdbook-version: 'latest'

      - name: Install Mermaid
        run: cargo +stable install mdbook-mermaid

      - run: mdbook build book

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./book/book

      - name: Generate cargo docs
        run: |
          cargo doc --no-deps --document-private-items
          echo "<meta http-equiv=\"refresh\" content=\"0; url=mdrc_pacbot\">" > target/doc/index.html

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./target/doc
          destination_dir: api  # this will deploy rust docs to a folder named 'api'
          keep_files: true # This is essential to avoid deleting the other docs
